language: php
dist: xenial
install:
  - pear install Net_Socket PEAR Auth_SASL
matrix:
  fast_finish: true
  include:
  - php: 5.3
    dist: precise
  - php: 5.4
    dist: precise
  - php: 5.5
    dist: trusty
  - php: 5.6
    dist: trusty
  - php: 7.0
  - php: 7.1
  - php: 7.2
  - php: 7.3
  - php: 7.4
  - php: 8.0
script: cd tests && pear run-tests .
